/* Genel Stiller */

.container {
    max-width: 80%;
    /* Sayfanın maksimum genişliği */
    margin: 20px auto 0;
    /* Sayfayı yatay olarak ortala */
    overflow-x: auto;
    /* İçeriği yatay olarak kaydırılabilir hale getir */
}

.table-wrapper,
.table {
    overflow-x: auto;
    /* Tabloyu yatay olarak kaydırılabilir hale getir */
}

.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    /* Metinlerin satırdan düşmemesini sağlar */
}


/* Tablo Başlığı */

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    padding: 8px;
    /* Hücre içeriği için padding azaltıldı */
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* Tablo İçeriği */

.table td {
    padding: 8px;
    /* Hücre içeriği için padding azaltıldı */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20x;
    /* Metin boyutu küçültüldü */
}


/* Alternatif Satır Arka Planları */

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Satır Üzerine Geldiğinde Arka Plan Rengi */

.table tbody tr:hover {
    background-color: #f2f2f2;
}