@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}

.container {
  max-width: 1500px;
}

.line-scale-pulse-out > div {
  background-color: #3f6ad8;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  animation-delay: -0.2s !important;
}

@keyframes line-scale-pulse-out-rapid {
  0% {
    transform: scaley(1);
  }
  80% {
    transform: scaley(0.3);
  }
  90% {
    transform: scaley(1);
  }
}

.line-scale-pulse-out-rapid > div {
  background-color: #3f6ad8;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  vertical-align: middle;
  animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}

.line-scale-pulse-out-rapid > div:nth-child(2),
.line-scale-pulse-out-rapid > div:nth-child(4) {
  animation-delay: -0.25s !important;
}

.line-scale-pulse-out-rapid > div:nth-child(1),
.line-scale-pulse-out-rapid > div:nth-child(5) {
  animation-delay: 0s !important;
}

/*Btn Color************************************************************/
.btn-success-2 {
  background-color: #52c41a;
  border-color: #52c41a;
  color: #fff;
}

.btn-success-2:hover {
  background-color: #44a216;
  border-color: #3f9714;
  color: #fff;
}

.btn-success-2:active {
  background-color: #3f9714 !important;
  border-color: #3a8c13 !important;
  color: #fff !important;
}

.btn-info-2 {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}

.btn-info-2:hover {
  background-color: #007df1;
  border-color: #0076e4;
  color: #fff;
}

.btn-info-2:active {
  background-color: #0076e4 !important;
  border-color: #0070d7 !important;
  color: #fff !important;
}

/*Bg Color************************************************************/
.bg-success-2 {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: #fff !important;
}

.bg-info-2 {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: #fff !important;
}

.bg-purple {
  background-color: purple !important;
}

/*Text Color************************************************************/
.text-success-2 {
  color: #52c41a;
}

/*Height************************************************/
.h-60px {
  height: 60px;
}

/*Width************************************************/
.max-w-500-px {
  max-width: 500px;
}

.active > .page-link,
.page-link.active {
  z-index: 0 !important;
}

/*Font************************************************/

.fs-12px {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.odd td {
  background-color: rgb(154, 0, 46, 0.125) !important;
}
